{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue chez les Chiens de la casse !</h1> <br><br> 
    <h2>Le leasing canin qui sort les Chiens ; pas les crocs ! <img src="https://img.icons8.com/color/100/000000/dog-pooping.png"/> </h2> <br><br>
    <h3>Pour voir les chiens disponibles et réserver rapidement ma balade, <br><br> 
    <a href="/login" class="btn btn-primary btn-lg btn-block">c'est par ici ! ✅</a> </h3>



{% endblock %}

{% block javascripts %}
            
        {% endblock %}