{% extends 'base.html.twig' %}

{% block title %} Réservation Chiens de la casse !{% endblock %}

{% block body %}


    <h1>Place à nos Stars du jour : les meilleurs Amis de l'Homme !
        <img src="https://img.icons8.com/color/100/000000/dog-pooping.png"/> 
    </h1><br><br>
      
        <a href="/booking/calendar" class="btn btn-primary btn-lg btn-block">Je réserve MAINTENANT ! ✅</a> <br><br>


{# {{ include('tonecho.html.twig') }} #}


{% endblock %}
